<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a = ['apple','banana','mango']

In [2]:
# print the value of a

print (a)

['apple', 'banana', 'mango']

In [3]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [80]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [81]:
print (languages)

['R', 'Python', 'SAS', 'Scala', 42]

Using for loop iterate and print all the elements in the list

In [82]:
for i in languages:
    print (i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [53]:
temp = []
temp.insert(2,"Python")

Print the value of temp and type(temp)

In [57]:
print (temp)

['Python']

Append the element 'Java' in the list

In [74]:
temp.append("java")
print(temp)

['Python', 'java', 'java']

Remove the element 42 from the list and print the list

In [83]:
languages.remove(42)

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [87]:
colors = ['Red' ,'Blue','White']

Append the element 'Black' to colors

In [89]:
colors.append("Black")

print(colors)

['Red', 'Blue', 'White', 'Black', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [91]:
colors.insert(1,"Orange")

Print the list

In [92]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [93]:
colors2 = ['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [95]:
colors.extend(colors2)

Print len of colors and its elements

In [98]:
x = len(colors)
print(x)
print(colors)

10
['Red', 'Orange', 'Blue', 'White', 'Black', 'Black', 'Grey', 'Sky Blue', 'Grey', 'Sky Blue']

Sort the list and print it.

In [100]:
colors.sort()
print(colors)

['Black', 'Black', 'Blue', 'Grey', 'Grey', 'Orange', 'Red', 'Sky Blue', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [2]:
sent = 'Coronavirus Caused Lockdowns Around The World'

print(sent)

Coronavirus Caused Lockdowns Around The World

Use split function to convert the string into a list of words and save it in variable words and print the same

In [18]:
temp = sent.split()

print(temp)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [19]:
word_lower = sent.lower()
print(word_lower)

coronavirus caused lockdowns around the world

Check whether ‚Äòcountry‚Äô is in the list

In [20]:
if "country" in sent:
    print ("found")
else:
        print("not found")

not found

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [21]:
temp.remove('The')

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [5]:
# print x4

Convert the list of elements to single string using join function and print it

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [23]:
stud_grades=['A','A','B','C','C','F']

print (stud_grades)

['A', 'A', 'B', 'C', 'C', 'F']

Print the len of stud_grades

In [25]:
x = len(stud_grades)

print (x)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [26]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [27]:

print (stud_grades_set)

{'B', 'A', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [28]:
type (stud_grades)
type(stud_grades_set)

set

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [29]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [36]:
stud_grades_set.add('F')

print (stud_grades_set)

{'B', 'G', 'F', 'A', 'C'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [37]:
stud_grades_set.remove("F")

Print the elements and the length of stud_grades_set

In [38]:
print (stud_grades_set , len(stud_grades_set))

{'B', 'G', 'A', 'C'} 4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [44]:
colors = ['red','blue','orange']

fruits=['orange','grapes','apples']

Print color and fruits

In [45]:
print (colors)

print (fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [50]:
colors_set = set(colors)

fruits_set = set(fruits)

print (colors_set,fruits_set)

{'orange', 'red', 'blue'} {'orange', 'grapes', 'apples'}

Find the union of both the sets.

In [52]:
z = colors_set.union(fruits_set)

print (z)

{'apples', 'red', 'orange', 'grapes', 'blue'}

Find the intersection of both the sets

In [53]:
z = colors_set.intersection(fruits_set)

print (z)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [54]:
z = fruits_set.difference(colors_set)

print (z)

{'grapes', 'apples'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [55]:
temp = [17,'virat',50.0]

Iterate through temp and print all the items in temp

In [56]:
print (temp)

[17, 'virat', 50.0]

replace first element with 11 in temp

In [57]:
temp1 = list(temp)
temp1[0] = 11
temp = tuple(temp1)
print(temp)

(11, 'virat', 50.0)

Set temp1 = tuple(temp)

In [58]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [59]:
print (temp1)

(11, 'virat', 50.0)

replace first element with 17 in temp1

In [60]:
temp = list(temp1)
temp[0] = 17
temp1 = tuple(temp)
print (temp1)

(17, 'virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [61]:
city = ("banglore",28.9949521,72)

Print first element of city

In [62]:
print (city[0])

banglore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [63]:
city2 = ('Chennai',30.01,74)

Create cities which consist of city and city2

In [65]:
cities = city + city2

print (cities)

('banglore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print cities

In [66]:
print (cities)

('banglore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [67]:
type (0)

int

print the type of cities

In [68]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [69]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [77]:
print(d.values(0))

TypeError: dict.values() takes no arguments (1 given)

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [78]:
actor = d.get('actor')

Print the type of actor

In [79]:
type(actor)

str

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [81]:
list = d.get('list')

Print the type of List.

In [83]:
print (list)

type(list)

[23, 32, 12]

list

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [84]:
d1 = {'singer':'kr$na','album':'still here','genre':'hip-hop'}

Merge d1 into d.

In [85]:
d.update(d1)

print d

In [86]:
print (d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'kr$na', 'album': 'still here', 'genre': 'hip-hop'}

Print all the keys in d

In [88]:
print (d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [89]:
print (d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'kr$na', 'still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [90]:
for key in d:
    print (key,"--------->" ,d[key])

actor ---------> amir
animal ---------> cat
earth ---------> 2
list ---------> [23, 32, 12]
singer ---------> kr$na
album ---------> still here
genre ---------> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [91]:
d1 = {x:sent.count(x) for x in set(sent)}

print (d1)

{'v': 1, 'l': 1, 'T': 1, 'a': 2, 'r': 4, 'h': 1, 'L': 1, 's': 3, 'C': 2, 'o': 6, 'W': 1, 'w': 1, 'A': 1, 'k': 1, 'd': 4, 'u': 3, 'e': 2, 'c': 1, ' ': 5, 'n': 3, 'i': 1}